*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Global */
header {
  color: #ffffff;
}

footer {
  background-color: #3a546d;
  color: #ffffff;
}

.dm-header-top {
  background-color: #2c3e50;
  color: #ffffff;
  height: 60px;
  line-height: 60px;
}

.dm-wrapper-60 {
  width: 60%;
  margin: 0 auto;
}

.dm-padding-80 {
  padding: 80px 0;
}

.dm-padding-20 {
  padding: 20px 0;
}

ul {
  display: inline-block;
}

li {
  display: inline-block;
}

/* color */
.green {
  background-color: #1abc9c;
}

/* Tipography */
h3 {
  text-align: center;
  font-size: 3em;
  color: #000000;
}

/* section */ 
#slider {
  padding: 20px;
}

#slider img {
  height: 200px;
}

#portfolio img {
  width: 100%;
  border-radius: 10px;
  margin: 10px;
}