/* Global */
header {
  color: #ffffff;
}

footer {
  background-color: #3a546d;
  color: #ffffff;
}

.dm-header-top {
  background-color: #2c3e50;
  color: #ffffff;
  height: 60px;
  line-height: 60px;
}

.dm-footer-bottom {
  background-color: #2c3e50;
  color: #ffffff;
  height: 60px;
  line-height: 60px;
}

.dm-wrapper-60 {
  width: 60%;
  margin: 0 auto;
}

.dm-padding-80 {
  padding: 80px 0;
}

.dm-padding-20 {
  padding: 20px 0;
}

ul {
  display: inline-block;
}

li {
  display: inline-block;
}

/* color */
.green {
  background-color: #1abc9c;
  color: #ffffff;
}

/* Tipography */
h1 {
  text-transform: uppercase;
}

h2 {
  text-transform: uppercase;
  font-weight: 200;
  font-size: 1.2em;
}

h3 {
  text-align: center;
  font-size: 3em;
  color: #000000;
  text-transform: uppercase;
}

h4 {
  text-transform: uppercase;
  text-align: center;
}

/* button */
.btn {
  border: 1px solid #ffffff;
  padding: 10px 20px;
  background-color: transparent;
  color: #ffffff;
  margin-top: 50px;
  font-size: 1em;
}

/* section */ 
.logo {
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: 500;
}

.fas.fa-star {
  position: relative;
}

.fas.fa-star:after{
  content:'';
  position: absolute;
  width: 120px;
  height: 2px;
  line-height: 2px;
  margin: 10px 5px;
  background-color: #ffffff;
}

nav li {
  padding: 20px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 500;
}

nav li:hover {
  color: gray;
}

#slider {
  padding: 20px;
}

#slider img {
  height: 400px;
}

#about h3{
  color: #ffffff;
}

#portfolio img {
  width: 100%;
  border-radius: 10px;
  margin: 10px;
}

.social{
  display: inline;
  border: 1px solid #ffffff;
  border-radius: 50%;
  height: 50px;
  line-height: 50px;
  padding: 10px;
  margin: 5px;
}

form {
  width: 60%;
  margin: 40px auto;
}

input[type=text], input[type=email], input[type=number], textarea {
  width: 100%;
  padding: 15px 0;
  text-align: left;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid lightgray;
}

input[type=submit] {
  background-color: #1abc9c;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin: 20px 0;
}