/* Global */
header {
  color: #ffffff;
}

footer {
  background-color: #3a546d;
  color: #ffffff;
}

.dm-header-top {
  background-color: #2c3e50;
  color: #ffffff;
  height: 60px;
  line-height: 60px;
}

.dm-footer-bottom {
  background-color: #2c3e50;
  color: #ffffff;
  height: 60px;
  line-height: 60px;
}

.dm-wrapper-60 {
  width: 60%;
  margin: 0 auto;
}

.dm-padding-20 {
  padding: 20px 0;
}

.dm-padding-40 {
  padding: 40px 0;
}

footer ul {
  display: inline-block;
  margin-left: -40px;
}

li {
  display: inline-block;
}

a {
  text-decoration: none;
  color: #ffffff;
}

a:hover, a:active, a:focus {
  text-decoration: none;
  color: #000000;
}

/* color */
.green {
  background-color: #1abc9c;
  color: #ffffff;
}

/* Tipography */
h1 {
  text-transform: uppercase;
}

h2 {
  text-transform: uppercase;
  font-weight: 200;
  font-size: 1.2em;
}

h3 {
  text-align: center;
  font-size: 3em;
  color: #000000;
  text-transform: uppercase;
}

h4 {
  text-transform: uppercase;
  text-align: center;
}

/* button */
.btn {
  border: 1px solid #ffffff;
  padding: 10px 20px;
  background-color: transparent;
  color: #ffffff;
  margin-top: 50px;
  margin-bottom: 30px;
  font-size: 1em;
}

/* section */ 
.logo {
  text-transform: uppercase;
  font-size: 1.1em;
  font-weight: 500;
}

.border {
  border: 1px solid #ffffff;
  padding: 5px;
}

.fas.fa-star {
  padding: 10px 0;
  font-size: 1.5em;
  position: relative;
  z-index: 1;
}

.line {
  position: relative;
  width: 260px;
  margin: 10px auto;
}

.line:after {
  content: '';
  width: 45%;
  height: 3px;
  background-color: #ffffff;
  vertical-align: middle;
  position: absolute;
  left: 0;
  top: 50%;
  margin-left: -10px;
}

.line:before {
  content: '';
  width: 45%;
  height: 3px;
  background-color: #ffffff;
  vertical-align: middle;
  position: absolute;
  right: 0;
  top: 50%;
  margin-right: -10px;
}

.line-black {
  position: relative;
  width: 260px;
  margin: 10px auto;
}

.line-black:after {
  content: '';
  width: 45%;
  height: 3px;
  background-color: #000000;
  vertical-align: middle;
  position: absolute;
  left: 0;
  top: 50%;
  margin-left: -10px;
}

.line-black:before {
  content: '';
  width: 45%;
  height: 3px;
  background-color: #000000;
  vertical-align: middle;
  position: absolute;
  right: 0;
  top: 50%;
  margin-right: -10px;
}

nav li {
  padding: 20px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 500;
}

nav li:hover {
  color: gray;
}

#slider {
  padding: 20px;
}

#slider img {
  height: 400px;
  width: 100%;
}

#about h3{
  color: #ffffff;
}

#portfolio img {
  width: 100%;
  margin: 10px 0;
  border-radius: 10px;
}

.social{
  display: inline;
  border: 1px solid #ffffff;
  border-radius: 50%;
  padding: 12px;
  line-height: 50px;
  margin: 5px;
  font-size: 18px;
}

form {
  width: 60%;
  margin: 40px auto;
}

input[type=text], input[type=email], input[type=number], textarea {
  width: 100%;
  padding: 15px 10px;
  text-align: left;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid lightgray;
}

input[type=submit] {
  background-color: #1abc9c;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin: 20px 0;
}

input[type=submit]:hover{
  background-color: #11705d;
}

@media screen and (max-width:420px) {
  .logo {
    font-size: .9em;
  }
}