*{
  box-sizing: content-box;
  margin: 0;
  padding: 0;
}

/* Global */
header {
  background-color: #1abc9c;
  color: #ffffff;
}

footer {
  background-color: #3a546d;
  color: #ffffff;
}

nav {
  background-color: #2c3e50;
  color: #ffffff;
}

ul {
  display: inline-block;
}

li {
  display: inline-block;
}

/* Tipography */
h3 {
  text-align: center;
  font-size: 3em;
  color: #000000;
}

/* section */ 
#slider {
  padding: 20px;
}

#slider img {
  height: 200px;
}

#portfolio img {
  width: 100%;
  border-radius: 10px;
  margin: 10px;
}